<!DOCTYPE html>
<html>
<head>
<style>
h1{color:red;
  text-align:center;
  font-size:40px;

}

p{font-family:verdana;
  font-size:20px;

}
body{
  background-color:powderblue;
}

</style>
</head>
<body>
<h1> My first heading using CSS</h1>
<p> This is a paragraph.</p>
<p>This is another paragraph in pink</p>




</body



</html>